@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;
@{
    RegisterLink(new LinkEntry {Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content("~/Themes/PJS.ThemeStarter/Content/favicon.ico")});
    Script.Include("html5.js").UseCondition("lt IE 9").AtHead();

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
}
<!DOCTYPE html>
<!--[if lt IE 7]>
    <html lang="@WorkContext.CurrentCulture" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 static @Html.ClassForPage()">
<![endif]-->
<!--[if IE 7]>
    <html lang="@WorkContext.CurrentCulture" class="lt-ie10 lt-ie9 lt-ie8 static @Html.ClassForPage()">
<![endif]-->
<!--[if IE 8]>
    <html lang="@WorkContext.CurrentCulture" class="lt-ie10 lt-ie9 static @Html.ClassForPage()">
<![endif]-->
<!--[if IE 9]>
    <html lang="@WorkContext.CurrentCulture" class="lt-ie10 static @Html.ClassForPage()">
<![endif]-->
<!--[if gt IE 9]><!-->
    <html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage()">
<!--<![endif]-->
<head>
    <link rel="apple-touch-icon" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/apple-touch-icon.png"))">
    <link rel="apple-touch-icon" sizes="72x72" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/apple-touch-icon-72.png"))">
    <link rel="apple-touch-icon" sizes="114x114" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/apple-touch-icon-114.png"))">
    <link rel="apple-touch-icon" sizes="144x144" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/apple-touch-icon-144.png"))">
    <meta charset="utf-8" />
    <title>@Html.Title(title, siteName)</title> 
    @Display(Model.Head)
    <script>(function(d){d.className="dyn"+d.className.substring(6,d.className.length);})(document.documentElement);</script> 
</head> 
<body class="theme-@WorkContext.CurrentTheme.Id">
@* Layout (template) is in the Body zone @ the default position (nothing, zero, zilch) *@
@Display(Model.Body)
@Display(Model.Tail)
</body>
</html>
