@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : "";}).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge,chrome=1");
    SetMeta("robots", "index, follow");
    SetMeta("viewport", "width=device-width, initial-scale=1");
    SetMeta("apple-mobile-web-app-capable", "yes");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new [] {"AsideFirst", "AsideSecond"}, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass)) {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new [] {"TripelFirst", "TripelSecond", "TripelThird"}, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass)) {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new [] {"FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth"}, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass)) {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/
    
    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement

@if (Model.Header != null) {
        @Zone(Model.Header)
}
@if (Model.Navigation != null) {
    @Zone(Model.Navigation)
}
@if (Model.Featured != null) {
    @Zone(Model.Featured)
}
@if (Model.BeforeMain != null) {
    @Zone(Model.BeforeMain)
}
<div>
    @if (Model.AsideFirst != null) {
        <aside>
            @Zone(Model.AsideFirst)
        </aside>
    }
    <div>
        @if (Model.Messages != null) {
            @Zone(Model.Messages)
        }
        @if (Model.BeforeContent != null) {
            @Zone(Model.BeforeContent)
        }
        @if (Model.Content != null) {
            @Zone(Model.Content)
        }
        @if (Model.AfterContent != null) {
            @Zone(Model.AfterContent)
        }
    </div>
    @if (Model.AsideSecond != null) {
        <aside>
            @Zone(Model.AsideSecond)
        </aside>
    }
</div>
@if (Model.AfterMain != null) {
    @Zone(Model.AfterMain)
}
@if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null) {
    <div>
        @if (Model.TripelFirst != null) {
            @Zone(Model.TripelFirst)
        }
        @if (Model.TripelSecond != null) {
            @Zone(Model.TripelSecond)
        }
        @if (Model.TripelThird != null) {
            @Zone(Model.TripelThird)
        }
    </div>
}
@if (Model.FooterQuadFirst != null || Model.FooterQuadSecond != null || Model.FooterQuadThird != null || Model.FooterQuadFourth != null) {
    <div>
        @if (Model.FooterQuadFirst != null) {
            @Zone(Model.FooterQuadFirst)
        }
        @if (Model.FooterQuadSecond != null) {
            @Zone(Model.FooterQuadSecond)
        }
        @if (Model.FooterQuadThird != null) {
            @Zone(Model.FooterQuadThird)
        }
        @if (Model.FooterQuadFourth != null) {
            @Zone(Model.FooterQuadFourth)
        }
    </div>
}
@if(Model.Footer != null) {
    @Zone(Model.Footer)
}

@tag.EndElement
